<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Project-Summary" data-toc-modified-id="Project-Summary-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Project Summary</a></span></li><li><span><a href="#Data-Collection-&amp;-Prep" data-toc-modified-id="Data-Collection-&amp;-Prep-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Collection &amp; Prep</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sales-Data" data-toc-modified-id="Sales-Data-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Sales Data</a></span></li><li><span><a href="#Store-Region-Data" data-toc-modified-id="Store-Region-Data-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Store Region Data</a></span></li><li><span><a href="#Sales-Data-Table-w/-Store-Features" data-toc-modified-id="Sales-Data-Table-w/-Store-Features-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Sales Data Table w/ Store Features</a></span></li><li><span><a href="#Train-&amp;-Test-Split" data-toc-modified-id="Train-&amp;-Test-Split-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Train &amp; Test Split</a></span></li></ul></li><li><span><a href="#Retail-Store-(Region)-Clusters" data-toc-modified-id="Retail-Store-(Region)-Clusters-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Retail Store (Region) Clusters</a></span><ul class="toc-item"><li><span><a href="#Cluster-Regional-Store-Locations" data-toc-modified-id="Cluster-Regional-Store-Locations-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Cluster Regional Store Locations</a></span><ul class="toc-item"><li><span><a href="#Interpreting-the-Region-Clusters" data-toc-modified-id="Interpreting-the-Region-Clusters-2.1.1.1"><span class="toc-item-num">2.1.1.1&nbsp;&nbsp;</span>Interpreting the Region Clusters</a></span></li></ul></li><li><span><a href="#Updated-Sales-Train-DataFrame" data-toc-modified-id="Updated-Sales-Train-DataFrame-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Updated Sales Train DataFrame</a></span><ul class="toc-item"><li><span><a href="#Include-Regional-Cluster" data-toc-modified-id="Include-Regional-Cluster-2.1.2.1"><span class="toc-item-num">2.1.2.1&nbsp;&nbsp;</span>Include Regional Cluster</a></span></li><li><span><a href="#Unstack-region_cluster" data-toc-modified-id="Unstack-region_cluster-2.1.2.2"><span class="toc-item-num">2.1.2.2&nbsp;&nbsp;</span>Unstack region_cluster</a></span></li><li><span><a href="#Date-Index-Frequency" data-toc-modified-id="Date-Index-Frequency-2.1.2.3"><span class="toc-item-num">2.1.2.3&nbsp;&nbsp;</span>Date Index Frequency</a></span></li></ul></li><li><span><a href="#Updated-Sales-Test-DataFrame" data-toc-modified-id="Updated-Sales-Test-DataFrame-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Updated Sales Test DataFrame</a></span><ul class="toc-item"><li><span><a href="#Predict-Regional-Store-Clusters" data-toc-modified-id="Predict-Regional-Store-Clusters-2.1.3.1"><span class="toc-item-num">2.1.3.1&nbsp;&nbsp;</span>Predict Regional Store Clusters</a></span></li><li><span><a href="#Unstack-region_cluster" data-toc-modified-id="Unstack-region_cluster-2.1.3.2"><span class="toc-item-num">2.1.3.2&nbsp;&nbsp;</span>Unstack region_cluster</a></span></li><li><span><a href="#Date-Index-Frequency" data-toc-modified-id="Date-Index-Frequency-2.1.3.3"><span class="toc-item-num">2.1.3.3&nbsp;&nbsp;</span>Date Index Frequency</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Exploratory-Data-Analysis-(EDA)" data-toc-modified-id="Exploratory-Data-Analysis-(EDA)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploratory Data Analysis (EDA)</a></span><ul class="toc-item"><li><span><a href="#Weekly-Sales-Stats" data-toc-modified-id="Weekly-Sales-Stats-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Weekly Sales Stats</a></span></li><li><span><a href="#Monthly-Sales-Stats" data-toc-modified-id="Monthly-Sales-Stats-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Monthly Sales Stats</a></span></li><li><span><a href="#Take-Aways-on-Cluster-Stats" data-toc-modified-id="Take-Aways-on-Cluster-Stats-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Take-Aways on Cluster Stats</a></span></li></ul></li><li><span><a href="#Exogenous-Variable" data-toc-modified-id="Exogenous-Variable-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exogenous Variable</a></span><ul class="toc-item"><li><span><a href="#Train-Data" data-toc-modified-id="Train-Data-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Train Data</a></span></li><li><span><a href="#Test-Data" data-toc-modified-id="Test-Data-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Test Data</a></span></li></ul></li><li><span><a href="#Pickle-DataFrames" data-toc-modified-id="Pickle-DataFrames-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pickle DataFrames</a></span><ul class="toc-item"><li><span><a href="#Training-Data" data-toc-modified-id="Training-Data-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Training Data</a></span></li><li><span><a href="#Testing-Data" data-toc-modified-id="Testing-Data-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Testing Data</a></span></li></ul></li></ul></div>

# Project Summary

**WALMART SALES FORECASTING:**
- Collect Data
- Perform EDA
- SARIMA Model on cumulative Walmart Sales (all branches)
- SARIMA Model on Clusters of Retail Stores
    - Based on "Week" and "Weekly Sales"
    - Want to see which Branches are very similar, and forecast for these as a group
- SARIMA Model on Clusters of Retail Departments
    - Based on "Week" and "Weekly Sales"
    - Want to see which Departments are very similar, and forecast for these as a group

In [373]:
##############################
#### Basic Python Imports ####
##############################

import pandas as pd
import numpy as np
import pickle


##########################
#### Sklearn Packages ####
##########################

from sklearn.cluster import KMeans

---

# Data Collection & Prep

### Sales Data

In [60]:
## Import main sales data into a dataframe
data = 'data_files/walmart-recruiting-store-sales-forecasting/train.csv'
df = pd.read_csv(data)

## Variable pointing to additional data features
## To be used further down in data prep
features = 'data_files/walmart-recruiting-store-sales-forecasting/features.csv'

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [62]:
## Binary field to flag dates that are holidays in time series
holiday_map = {True:1, False:0}
df['IsHoliday'] = df['IsHoliday'].map(holiday_map)

In [63]:
df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50          0
1      1     1  2010-02-12      46039.49          1
2      1     1  2010-02-19      41595.55          0
3      1     1  2010-02-26      19403.54          0
4      1     1  2010-03-05      21827.90          0

### Store Region Data

In [88]:
## Additonal data containing external features related to location/region of each store in data set
store_data = pd.read_csv(features)
store_data.drop(columns=['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday'],
                inplace=True)

In [91]:
store_data.head()

   Store        Date  Temperature  Fuel_Price         CPI  Unemployment
0      1  2010-02-05        42.31       2.572  211.096358         8.106
1      1  2010-02-12        38.51       2.548  211.242170         8.106
2      1  2010-02-19        39.93       2.514  211.289143         8.106
3      1  2010-02-26        46.63       2.561  211.319643         8.106
4      1  2010-03-05        46.50       2.625  211.350143         8.106

### Sales Data Table w/ Store Features

In [93]:
## Join sales data and store region data tables around Store number and Date
sales_data = pd.merge(df, store_data, how='left', left_on=['Store', 'Date'], right_on=['Store', 'Date'])

In [94]:
sales_data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment
0,1,1,2010-02-05,24924.50,0,42.31,2.572,211.096358,8.106
1,1,1,2010-02-12,46039.49,1,38.51,2.548,211.242170,8.106
2,1,1,2010-02-19,41595.55,0,39.93,2.514,211.289143,8.106
3,1,1,2010-02-26,19403.54,0,46.63,2.561,211.319643,8.106
4,1,1,2010-03-05,21827.90,0,46.50,2.625,211.350143,8.106

### Train & Test Split

In [114]:
## Determine how many unique weeks captures 80% of time series
week_count = int(len(sales_data['Date'].unique())*0.8)

In [115]:
## Determine value of max week for training data set
max_test_week = sales_data['Date'].unique()[week_count]

In [128]:
# Use above week metrics to create train/test split of 80/20
train_sales_data = sales_data.loc[sales_data['Date'] < max_test_week].reset_index(drop=True)

In [125]:
train_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335761 entries, 0 to 335760
Data columns (total 9 columns):
Store           335761 non-null int64
Dept            335761 non-null int64
Date            335761 non-null object
Weekly_Sales    335761 non-null float64
IsHoliday       335761 non-null int64
Temperature     335761 non-null float64
Fuel_Price      335761 non-null float64
CPI             335761 non-null float64
Unemployment    335761 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 23.1+ MB

In [126]:
# Use above week metrics to create train/test split of 80/20
test_sales_data = sales_data.loc[sales_data['Date'] >= max_test_week].reset_index(drop=True)

In [127]:
test_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85809 entries, 0 to 85808
Data columns (total 9 columns):
Store           85809 non-null int64
Dept            85809 non-null int64
Date            85809 non-null object
Weekly_Sales    85809 non-null float64
IsHoliday       85809 non-null int64
Temperature     85809 non-null float64
Fuel_Price      85809 non-null float64
CPI             85809 non-null float64
Unemployment    85809 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 5.9+ MB

## Retail Store (Region) Clusters

### Cluster Regional Store Locations
- Using the following Store features (relevant to the region the store is located in):
    - Temperature - average temperature in the region
    - Fuel_Price - cost of fuel in the region
    - CPI - the consumer price index
    - Unemployment - the unemployment rate
- Make forecast predictions for each distinct cluster ("REGION")

In [214]:
## Determine mean for each store feature, for each store
region_data = train_sales_data.groupby(['Store'])\
                        .agg(
                              avg_temp=pd.NamedAgg(column='Temperature', aggfunc='mean'),
                              avg_fuel_price=pd.NamedAgg(column='Fuel_Price', aggfunc='mean'),
                              avg_cpi=pd.NamedAgg(column='CPI', aggfunc='mean'),
                              avg_unemployment=pd.NamedAgg(column='Unemployment', aggfunc='mean')
                             )

In [215]:
region_data.head()

        avg_temp  avg_fuel_price     avg_cpi  avg_unemployment
Store
1      66.219069        3.131914  214.432038          7.776293
2      65.728215        3.132959  214.088152          7.872071
3      69.234016        3.131978  217.809262          7.365169
4      58.969789        3.131861  128.103189          6.430340
5      67.025708        3.135249  215.029493          6.455855

In [216]:
## Cluster stores using KMeans algorithm
kmeans = KMeans(n_clusters=4, random_state=40, init='random').fit(region_data)

## Create field to indicate cluster the store belongs to
region_data['region_cluster'] = kmeans.labels_

## Sort DataFrame by Clusters
clusters_df = region_data.sort_values(by=['region_cluster'])

In [217]:
clusters_df.head()

        avg_temp  avg_fuel_price     avg_cpi  avg_unemployment  region_cluster
Store
23     45.807012        3.341281  134.292168          4.959175               0
26     40.527679        3.340232  134.294649          7.988596               0
29     52.214908        3.339093  134.284673          9.942679               0
24     51.202332        3.478629  134.281934          8.324762               0
44     50.175602        3.180606  128.124114          7.048311               0

In [218]:
## Aggregate cluster features; mean values of the stores within the cluster
cluster_summary = clusters_df.groupby(['region_cluster']).agg({'avg_temp':'mean', 
                                      'avg_fuel_price':'mean',
                                      'avg_cpi':'mean',
                                      'avg_unemployment':'mean'})
cluster_summary

                 avg_temp  avg_fuel_price     avg_cpi  avg_unemployment
region_cluster
0               49.524641        3.328669  133.417428          7.803468
1               67.563938        3.428535  128.124194         10.488059
2               66.907291        3.133578  214.622362          7.623981
3               47.990138        3.220048  194.422331          7.914222

In [219]:
## Create fields to rank the value of each feature for each cluster (high rank = high relative value)
cluster_summary['temp_rank'] = cluster_summary['avg_temp'].rank(ascending=False)
cluster_summary['feul_rank'] = cluster_summary['avg_fuel_price'].rank(ascending=False)
cluster_summary['cpi_rank'] = cluster_summary['avg_cpi'].rank(ascending=False)
cluster_summary['unemp_rank'] = cluster_summary['avg_unemployment'].rank(ascending=False)

In [220]:
cluster_summary

,avg_temp,avg_fuel_price,avg_cpi,avg_unemployment,temp_rank,feul_rank,cpi_rank,unemp_rank
region_cluster,,,,,,,,
0,49.524641,3.328669,133.417428,7.803468,3.0,2.0,3.0,3.0
1,67.563938,3.428535,128.124194,10.488059,1.0,1.0,4.0,1.0
2,66.907291,3.133578,214.622362,7.623981,2.0,4.0,1.0,4.0
3,47.990138,3.220048,194.422331,7.914222,4.0,3.0,2.0,2.0

#### Interpreting the Region Clusters

>Key differentiating factors (with the largest distribution of values) were: `Avg Temp` and `Avg CPI`
- **Cluster 0** —> Low Temp, Low CPI
- **Cluster 1** —> High Temp, Low CPI, High Unemployment
- **Cluster 2** —> High Temp, High CPI
- **Cluster 3** —> Low Temp, High CPI

### Updated Sales Train DataFrame

#### Include Regional Cluster

In [246]:
## Create cluster mapping dataframe
store_cluster_mapping = clusters_df.loc[:, ['region_cluster']].reset_index()

In [322]:
## Left join cluster mapping table to training data set
train_sales_data_final = train_sales_data.merge(store_cluster_mapping, how='left', on='Store')

In [323]:
## Final train data should groupy by region_clust and date, aggregating on the sum of Sales
train_sales_data_final = train_sales_data_final.groupby(['region_cluster', 'Date'])\
                                               .agg(Sales=pd.NamedAgg(column='Weekly_Sales', aggfunc='sum'))\
                                               .reset_index()

In [324]:
## Re-lablel region_cluster categorical values
## Required for unstacking
cluster_labels = {0:'cluster_1', 1:'cluster_2', 2:'cluster_3', 3:'cluster_4'}

train_sales_data_final['region_cluster'] = train_sales_data_final['region_cluster'].map(cluster_labels)

In [325]:
train_sales_data_final.head()

  region_cluster        Date        Sales
0      cluster_1  2010-02-05  16824708.91
1      cluster_1  2010-02-12  16793675.03
2      cluster_1  2010-02-19  16717570.22
3      cluster_1  2010-02-26  14629045.69
4      cluster_1  2010-03-05  15947116.34

#### Unstack region_cluster
Create separate column to indicate sales for each cluster.

In [326]:
train_sales_data_final.set_index(['Date', 'region_cluster'], inplace=True)

In [327]:
train_sales_data_final = train_sales_data_final.unstack(['region_cluster'], fill_value=0)

In [328]:
train_sales_data_final.columns = train_sales_data_final.columns.levels[1].rename(None)
train_sales_data_final.head()

              cluster_1   cluster_2    cluster_3   cluster_4
Date
2010-02-05  16824708.91  8277064.86  14907896.06  9741070.67
2010-02-12  16793675.03  8253975.42  15039976.12  8249051.06
2010-02-19  16717570.22  7882898.53  14681670.82  8994854.21
2010-02-26  14629045.69  7633080.38  13357737.02  8348708.04
2010-03-05  15947116.34  7862298.45  14195870.13  8866185.38

#### Date Index Frequency

In [329]:
## Convert index to datetime
train_sales_data_final.index = pd.to_datetime(train_sales_data_final.index)

In [331]:
## Set frequency to Weekly ending FRIDAY
train_sales_data_final = train_sales_data_final.asfreq('W-Fri', fill_value=0)

In [332]:
train_sales_data_final.index

DatetimeIndex(['2010-02-05', '2010-02-12', '2010-02-19', '2010-02-26',
               '2010-03-05', '2010-03-12', '2010-03-19', '2010-03-26',
               '2010-04-02', '2010-04-09',
               ...
               '2012-02-03', '2012-02-10', '2012-02-17', '2012-02-24',
               '2012-03-02', '2012-03-09', '2012-03-16', '2012-03-23',
               '2012-03-30', '2012-04-06'],
              dtype='datetime64[ns]', name='Date', length=114, freq='W-FRI')

### Updated Sales Test DataFrame

#### Predict Regional Store Clusters

In [336]:
## Left join cluster mapping table to testing data set
## Maintain store to cluster mapping from training data
test_sales_data_final = test_sales_data.merge(store_cluster_mapping, how='left', on='Store')

In [337]:
## Final test data should groupy by region_clust and date, aggregating on the sum of Sales
test_sales_data_final = test_sales_data_final.groupby(['region_cluster', 'Date'])\
                                               .agg(Sales=pd.NamedAgg(column='Weekly_Sales', aggfunc='sum'))\
                                               .reset_index()

In [338]:
## Re-lablel region_cluster categorical values
## Required for unstacking
cluster_labels = {0:'cluster_1', 1:'cluster_2', 2:'cluster_3', 3:'cluster_4'}

test_sales_data_final['region_cluster'] = test_sales_data_final['region_cluster'].map(cluster_labels)

In [341]:
test_sales_data_final.head()

  region_cluster        Date        Sales
0      cluster_1  2012-04-13  15319232.71
1      cluster_1  2012-04-20  15469550.24
2      cluster_1  2012-04-27  14907099.39
3      cluster_1  2012-05-04  15791465.51
4      cluster_1  2012-05-11  16110567.99

#### Unstack region_cluster
Create separate column to indicate sales for each cluster.

In [342]:
test_sales_data_final.set_index(['Date', 'region_cluster'], inplace=True)

In [343]:
test_sales_data_final = test_sales_data_final.unstack(['region_cluster'], fill_value=0)

In [344]:
test_sales_data_final.columns = test_sales_data_final.columns.levels[1].rename(None)
test_sales_data_final.head()

              cluster_1   cluster_2    cluster_3   cluster_4
Date
2012-04-13  15319232.71  7842097.90  14605946.75  8861984.05
2012-04-20  15469550.24  7324769.81  13844084.67  8434125.06
2012-04-27  14907099.39  7148150.77  13382099.66  8279449.07
2012-05-04  15791465.51  7913923.38  14387907.69  9030901.35
2012-05-11  16110567.99  7595937.00  14072803.73  9146570.27

#### Date Index Frequency

In [345]:
## Convert index to datetime
test_sales_data_final.index = pd.to_datetime(test_sales_data_final.index)

In [346]:
## Set frequency to Weekly ending FRIDAY
test_sales_data_final = test_sales_data_final.asfreq('W-Fri', fill_value=0)

In [347]:
test_sales_data_final.index

DatetimeIndex(['2012-04-13', '2012-04-20', '2012-04-27', '2012-05-04',
               '2012-05-11', '2012-05-18', '2012-05-25', '2012-06-01',
               '2012-06-08', '2012-06-15', '2012-06-22', '2012-06-29',
               '2012-07-06', '2012-07-13', '2012-07-20', '2012-07-27',
               '2012-08-03', '2012-08-10', '2012-08-17', '2012-08-24',
               '2012-08-31', '2012-09-07', '2012-09-14', '2012-09-21',
               '2012-09-28', '2012-10-05', '2012-10-12', '2012-10-19',
               '2012-10-26'],
              dtype='datetime64[ns]', name='Date', freq='W-FRI')

---

# Exploratory Data Analysis (EDA)

## Weekly Sales Stats

In [360]:
weekly_sales = train_sales_data_final.div(1_000_000)
weekly_sales.describe()

        cluster_1   cluster_2   cluster_3   cluster_4
count  114.000000  114.000000  114.000000  114.000000
mean    16.313093    7.554775   14.156812    9.195112
std      2.353084    0.931597    1.574355    1.319337
min     12.975193    6.437130   12.227423    7.587900
25%     15.202769    7.021009   13.425909    8.577709
50%     15.926992    7.333967   13.831275    8.922444
75%     16.772979    7.821141   14.405162    9.321822
max     29.258883   12.243476   22.641374   16.787683

In [362]:
weekly_sales_stats = weekly_sales.describe()

In [367]:
## Max value as percentage of mean
weekly_sales_stats.loc['max']/weekly_sales_stats.loc['mean']

cluster_1    1.793583
cluster_2    1.620628
cluster_3    1.599327
cluster_4    1.825718
dtype: float64

In [368]:
## Standard Deviation as percentage of mean
weekly_sales_stats.loc['std']/weekly_sales_stats.loc['mean']

cluster_1    0.144245
cluster_2    0.123312
cluster_3    0.111208
cluster_4    0.143482
dtype: float64

## Monthly Sales Stats

In [369]:
monthly_sales = train_sales_data_final.resample('M').sum().div(1_000_000)
monthly_sales.describe()

        cluster_1  cluster_2  cluster_3  cluster_4
count   27.000000  27.000000  27.000000  27.000000
mean    68.877503  31.897938  59.773205  38.823804
std     15.461681   6.605572  12.307989   8.759749
min     18.130939   8.749441  16.134919  10.487018
25%     63.175610  28.979575  55.090682  35.242392
50%     66.432468  31.758772  57.425873  37.353267
75%     76.348512  35.160264  66.682570  43.510579
max    102.428664  45.225528  84.068774  58.306534

In [370]:
monthly_sales_stats = monthly_sales.describe()

In [371]:
## Max value as percentage of mean
monthly_sales_stats.loc['max']/monthly_sales_stats.loc['mean']

cluster_1    1.487113
cluster_2    1.417820
cluster_3    1.406463
cluster_4    1.501824
dtype: float64

In [372]:
## Standard Deviation as percentage of mean
monthly_sales_stats.loc['std']/monthly_sales_stats.loc['mean']

cluster_1    0.224481
cluster_2    0.207085
cluster_3    0.205911
cluster_4    0.225628
dtype: float64

## Take-Aways on Cluster Stats

>- **cluster_1** —> Low Temp, Low CPI
    - Highest sales cluster
    - High population cluster?
   
>- **cluster_2** —> High Temp, Low CPI, High Unemployment
    - Lowest sales cluster
 
>- **cluster_3** —> High Temp, High CPI
    - 2nd Highest sales cluster
    
>- **cluster_4** —> Low Temp, High CPI
    - 2nd Lowest sales cluster

Cluster 1 and 4 likely have the highest seasonality effect because on both a weekly and monthly scale, their max values are the highest percentage of their means AND their standard deviation is the highest % of their means compared to the rest of the clusters.  

Going forward, **`cluster_1`** will be used for time series analysis.

---

# Exogenous Variable
    Include "IsHoliday" dummy variable in training and testing data frames.

## Train Data

In [442]:
## Create date mapping for IsHoliday dummy variable
## To be merge with training and testing Data Frames
holidays = df.loc[:, ['Date', 'IsHoliday']]

holidays.drop_duplicates(inplace=True)
holidays.set_index('Date', inplace=True)
holidays.index = pd.to_datetime(holidays.index)


## Set frequency to Weekly ending FRIDAY
holidays = holidays.asfreq('W-Fri', fill_value=0)

In [444]:
train_sales_data_final_2 = pd.merge(train_sales_data_final, holidays, how='left', 
                                    left_index=True, right_index=True)

In [445]:
train_sales_data_final_2['IsHoliday'].value_counts()

0    105
1      9
Name: IsHoliday, dtype: int64

## Test Data

In [446]:
test_sales_data_final_2 = test_sales_data_final.merge(holidays, how='left', left_index=True, right_index=True)

In [447]:
test_sales_data_final_2['IsHoliday'].value_counts()

0    28
1     1
Name: IsHoliday, dtype: int64

---

# Pickle DataFrames

## Training Data

In [374]:
train_pickle = 'data_files/train_data.pkl'
train_sales_data_final.to_pickle(train_pickle)

In [448]:
train_holidays_pickle = 'data_files/train_holidays.pkl'
train_sales_data_final_2.to_pickle(train_holidays_pickle)

## Testing Data

In [375]:
test_pickle = 'data_files/test_data.pkl'
test_sales_data_final.to_pickle(test_pickle)

In [449]:
test_holidays_pickle = 'data_files/test_holidays.pkl'
test_sales_data_final_2.to_pickle(test_holidays_pickle)