# SQL TABLES SETUP
This notebook will be used to set up the SQL Statements for creating new database tables based on existing .csv files. Some of these files contain 100+ fields. To avoid manually typing out the table schemas, this notebook imports small segments of each .csv file and helps compose the CREATE TABLE statements.

In [57]:
## Common Python Modules:
import pandas as pd
import numpy as np

## SQL Integration:
import psycopg2
from sqlalchemy import create_engine

## Regression Modules:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

## 1) APPLICATION TABLE

### Import Data into Pandas:
Errors occured with trying to import .csv file directly to PostgreSQL. For this reason, Pandas is useful for preprocessing data and casting values correctly before loading into SQL.

In [77]:
## Read application_train .csv file
application_path = '/Users/kbajina/Documents/DATA SCIENCE/Metis | Data Science Bootcamp/Metis Project Portfolio/Metis-Proj-3-classification/data_files/home-credit-default-risk/application_train.csv'
application_df = pd.read_csv(application_path)

### Create new table in PostgreSQL from DataFrame:

In [95]:
for i in range(len(type_list)):
    
    if type_list[i][1] == 'int64':
        print(type_list[i][0], "INT, ")
        
    elif type_list[i][1] == 'O':
        print(type_list[i][0], "VARCHAR, ")
        
    elif type_list[i][1] == 'float64':
        print(type_list[i][0], "DECIMAL, ")

SK_ID_CURR INT,
TARGET INT,
NAME_CONTRACT_TYPE VARCHAR,
CODE_GENDER VARCHAR,
FLAG_OWN_CAR VARCHAR,
FLAG_OWN_REALTY VARCHAR,
CNT_CHILDREN INT,
AMT_INCOME_TOTAL DECIMAL,
AMT_CREDIT DECIMAL,
AMT_ANNUITY DECIMAL,
AMT_GOODS_PRICE DECIMAL,
NAME_TYPE_SUITE VARCHAR,
NAME_INCOME_TYPE VARCHAR,
NAME_EDUCATION_TYPE VARCHAR,
NAME_FAMILY_STATUS VARCHAR,
NAME_HOUSING_TYPE VARCHAR,
REGION_POPULATION_RELATIVE DECIMAL,
DAYS_BIRTH INT,
DAYS_EMPLOYED INT,
DAYS_REGISTRATION DECIMAL,
DAYS_ID_PUBLISH INT,
OWN_CAR_AGE DECIMAL,
FLAG_MOBIL INT,
FLAG_EMP_PHONE INT,
FLAG_WORK_PHONE INT,
FLAG_CONT_MOBILE INT,
FLAG_PHONE INT,
FLAG_EMAIL INT,
OCCUPATION_TYPE VARCHAR,
CNT_FAM_MEMBERS DECIMAL,
REGION_RATING_CLIENT INT,
REGION_RATING_CLIENT_W_CITY INT,
WEEKDAY_APPR_PROCESS_START VARCHAR,
HOUR_APPR_PROCESS_START INT,
REG_REGION_NOT_LIVE_REGION INT,
REG_REGION_NOT_WORK_REGION INT,
LIVE_REGION_NOT_WORK_REGION INT,
REG_CITY_NOT_LIVE_CITY INT,
REG_CITY_NOT_WORK_CITY INT,
LIVE_CITY_NOT_WORK_CITY INT,
ORGANIZATION_TYPE VARCHAR,
EXT_SOURCE_1 DECIMAL,
EXT_SOURCE_2 DECIMAL,
EXT_SOURCE_3 DECIMAL,
APARTMENTS_AVG DECIMAL,
BASEMENTAREA_AVG DECIMAL,
YEARS_BEGINEXPLUATATION_AVG DECIMAL,
YEARS_BUILD_AVG DECIMAL,
COMMONAREA_AVG DECIMAL,
ELEVATORS_AVG DECIMAL,
ENTRANCES_AVG DECIMAL,
FLOORSMAX_AVG DECIMAL,
FLOORSMIN_AVG DECIMAL,
LANDAREA_AVG DECIMAL,
LIVINGAPARTMENTS_AVG DECIMAL,
LIVINGAREA_AVG DECIMAL,
NONLIVINGAPARTMENTS_AVG DECIMAL,
NONLIVINGAREA_AVG DECIMAL,
APARTMENTS_MODE DECIMAL,
BASEMENTAREA_MODE DECIMAL,
YEARS_BEGINEXPLUATATION_MODE DECIMAL,
YEARS_BUILD_MODE DECIMAL,
COMMONAREA_MODE DECIMAL,
ELEVATORS_MODE DECIMAL,
ENTRANCES_MODE DECIMAL,
FLOORSMAX_MODE DECIMAL,
FLOORSMIN_MODE DECIMAL,
LANDAREA_MODE DECIMAL,
LIVINGAPARTMENTS_MODE DECIMAL,
LIVINGAREA_MODE DECIMAL,
NONLIVINGAPARTMENTS_MODE DECIMAL,
NONLIVINGAREA_MODE DECIMAL,
APARTMENTS_MEDI DECIMAL,
BASEMENTAREA_MEDI DECIMAL,
YEARS_BEGINEXPLUATATION_MEDI DECIMAL,
YEARS_BUILD_MEDI DECIMAL,
COMMONAREA_MEDI DECIMAL,
ELEVATORS_MEDI DECIMAL,
ENTRANCES_MEDI DECIMAL,
FLOORSMAX_MEDI DECIMAL,
FLOORSMIN_MEDI DECIMAL,
LANDAREA_MEDI DECIMAL,
LIVINGAPARTMENTS_MEDI DECIMAL,
LIVINGAREA_MEDI DECIMAL,
NONLIVINGAPARTMENTS_MEDI DECIMAL,
NONLIVINGAREA_MEDI DECIMAL,
FONDKAPREMONT_MODE VARCHAR,
HOUSETYPE_MODE VARCHAR,
TOTALAREA_MODE DECIMAL,
WALLSMATERIAL_MODE VARCHAR,
EMERGENCYSTATE_MODE VARCHAR,
OBS_30_CNT_SOCIAL_CIRCLE DECIMAL,
DEF_30_CNT_SOCIAL_CIRCLE DECIMAL,
OBS_60_CNT_SOCIAL_CIRCLE DECIMAL,
DEF_60_CNT_SOCIAL_CIRCLE DECIMAL,
DAYS_LAST_PHONE_CHANGE DECIMAL,
FLAG_DOCUMENT_2 INT,
FLAG_DOCUMENT_3 INT,
FLAG_DOCUMENT_4 INT,
FLAG_DOCUMENT_5 INT,
FLAG_DOCUMENT_6 INT,
FLAG_DOCUMENT_7 INT,
FLAG_DOCUMENT_8 INT,
FLAG_DOCUMENT_9 INT,
FLAG_DOCUMENT_10 INT,
FLAG_DOCUMENT_11 INT,
FLAG_DOCUMENT_12 INT,
FLAG_DOCUMENT_13 INT,
FLAG_DOCUMENT_14 INT,
FLAG_DOCUMENT_15 INT,
FLAG_DOCUMENT_16 INT,
FLAG_DOCUMENT_17 INT,
FLAG_DOCUMENT_18 INT,
FLAG_DOCUMENT_19 INT,
FLAG_DOCUMENT_20 INT,
FLAG_DOCUMENT_21 INT,
AMT_REQ_CREDIT_BUREAU_HOUR DECIMAL,
AMT_REQ_CREDIT_BUREAU_DAY DECIMAL,
AMT_REQ_CREDIT_BUREAU_WEEK DECIMAL,
AMT_REQ_CREDIT_BUREAU_MON DECIMAL,
AMT_REQ_CREDIT_BUREAU_QRT DECIMAL,
AMT_REQ_CREDIT_BUREAU_YEAR DECIMAL,

## 2) BUREAU DATA TABLE

In [148]:
## Read bureau.csv file
## Limit load to first 10 rows
## Only need this data for creating SQL schema

bureau_path = '/Users/kbajina/Documents/DATA SCIENCE/Metis | Data Science Bootcamp/Metis Project Portfolio/Metis-Proj-3-classification/data_files/home-credit-default-risk/POS_CASH_balance.csv'
bureau_df = pd.read_csv(bureau_path, nrows=10)

In [149]:
bureau_dtypes = pd.Series(bureau_df.dtypes)
bureau_dtypes

SK_ID_PREV                 int64
SK_ID_CURR                 int64
MONTHS_BALANCE             int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS      object
SK_DPD                     int64
SK_DPD_DEF                 int64
dtype: object

In [150]:
bureau_schema = list(zip(bureau_dtypes.index.values, bureau_dtypes.values))

In [151]:
bureau_schema[0][1]

dtype('int64')

In [152]:
for i in range(len(bureau_schema)):
    
    if bureau_schema[i][1] == 'int64':
        print(bureau_schema[i][0], "INT, ")
        
    elif bureau_schema[i][1] == 'O':
        print(bureau_schema[i][0], "VARCHAR, ")
        
    elif bureau_schema[i][1] == 'float64':
        print(bureau_schema[i][0], "DECIMAL, ")

SK_ID_PREV INT,
SK_ID_CURR INT,
MONTHS_BALANCE INT,
CNT_INSTALMENT DECIMAL,
CNT_INSTALMENT_FUTURE DECIMAL,
NAME_CONTRACT_STATUS VARCHAR,
SK_DPD INT,
SK_DPD_DEF INT,

# CONNECT PYTHON WITH SQL DATABASE:

In [53]:
## Create engine to connect with PostgreSQL Database
engine = create_engine('postgresql://kbajina:@localhost/home_credit_default_risk')

In [54]:
## Create table in SQL using `application_df` DataFrame
application_df.to_sql('applications', con=engine)

In [65]:
application_df.to_csv('applications_test.csv')

# LOGISTIC REGRESSION:

In [55]:
application_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
application_df.dropna(inplace=True)

In [64]:
application_df['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [72]:
X = application_df.loc[:, ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY']]

y = application_df.loc[:,'TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [73]:
lm1 = LogisticRegression(solver= 'liblinear', C=1000)
lm1.fit(X_train, y_train)

LogisticRegression(C=1000, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
lm1.score(X_train, y_train)

0.9372184275541345

In [76]:
y_predict = lm1.predict(X_test)  # This is a hard classifier
lm1.score(X_test, y_test)

0.9453805926786751