# K MEANS CLUSTERING:
Using K-Means Clustering to find similar groupings in data based on independent variables.

In [1]:
## Common Python Modules:
import math
import pandas as pd
import numpy as np
from collections import Counter
from collections import defaultdict

## Plotting Modules:
import matplotlib.pyplot as plt
from inspect import signature
import seaborn as sns
from mlxtend.plotting import plot_decision_regions
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
plt.style.use('ggplot')
plt.rcParams["figure.figsize"] = (50,50)

%matplotlib inline

# import sklearn
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.datasets import fetch_mldata
from sklearn.utils import shuffle

## Import Data:

In [2]:
applications_data = 'data_files/home-credit-default-risk/applications_final_v2.csv'
applications_df = pd.read_csv(applications_data)

In [3]:
important_features = ['applicant_years_employed',
'applicant_completed_post_secondary',
'current_cc_limit',
'flag_own_car',
'applicant_age_years',
'days_id_publish',
'amt_goods_price',
'def_30_cnt_social_circle',
'amt_annuity',
'flag_emp_phone',
'cash_loan_max_future_installments',
'cash_loan',
'flag_work_phone',
'loan_beyond_purchase_price',
'is_male',
'region_rating_client',
'recent_cc_balance']

In [4]:
X = applications_df.loc[:, important_features]
y = applications_df['target']

In [7]:

km = KMeans(n_clusters=10)
km.fit(X)
km.labels_

array([7, 7, 3, ..., 7, 2, 5], dtype=int32)

In [8]:
km_dict = defaultdict(int)
for label in km.labels_:
    km_dict[label] += 1

In [9]:
km_dict

defaultdict(int,
            {7: 68480,
             3: 12014,
             2: 50650,
             6: 42575,
             0: 72549,
             9: 29044,
             4: 8870,
             1: 17380,
             8: 4034,
             5: 4073})

In [11]:
X['cluster'] = km.labels_

In [14]:
X[X['cluster'] == 7].head()

,applicant_years_employed,applicant_completed_post_secondary,current_cc_limit,flag_own_car,applicant_age_years,days_id_publish,amt_goods_price,def_30_cnt_social_circle,amt_annuity,flag_emp_phone,cash_loan_max_future_installments,cash_loan,flag_work_phone,loan_beyond_purchase_price,is_male,region_rating_client,recent_cc_balance,cluster
0,2,0,0,1,39,4808,450000.0,0.0,22090.5,1,0.0,1,0,142560.0,1,4,0.000,7
1,8,0,0,1,37,4565,405000.0,0.0,20250.0,1,0.0,0,1,0.0,1,4,0.000,7
3,0,0,90000,1,43,3479,459000.0,0.0,16209.0,1,14.0,1,1,90882.0,0,4,78770.295,7
8,3,0,0,0,40,4315,454500.0,0.0,24462.0,1,0.0,1,0,53995.5,0,4,0.000,7
11,1,0,180000,0,25,1980,436500.0,1.0,37899.0,1,8.0,1,1,34569.0,1,2,75118.185,7

In [ ]:
X